.v-dialog {

}
.datetime-picker {
  flex: 1;
  margin-left: 20px;

  #tj-datetime-input {
    border: none;
    border-bottom: 1px solid;
  }
  .month, .year {
    text-align: center !important;
    width: unset !important;
  }

  .month-setter, .year-setter {
    display: inline-flex !important;
    justify-content: center !important;
    font-weight: 400 !important;
  }


  .week {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
  }
  .headers {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
  }

  .time-picker {
    margin: 10px 0 0 12px;
  }

  .okButton {
    margin-right: 18px;
  }
  .v-card__actions {
    padding: 8px 0;
  }
}
.preloader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75);
  z-index: 10;
}

.swal2-container {
  font-family: Roboto;
}
